$primary-color: #fff;
$details-color: #00e0d0;

body {
    color: $primary-color;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: "Merriweather", serif;
    font-weight: 900;
}

/* BUTTONS */
.btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    color: $details-color;
    border: 1px solid $details-color;
    transition: all 0.3s;

    &:hover {
        background-color: $details-color;
        color: $primary-color;
    }
}

/*
* NAVIGATION
*/
#nav-fixed {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

.nav {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_toggler {
        display: none;
        color: $primary-color;
        font-size: 2em;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        
        a {
            padding: 10px;
            text-decoration: none;
            color: $primary-color;
            font-weight: 400;
            border-bottom: 1px solid transparent;
            transition: all 0.3s;

            &:hover {
                color: $details-color;
            }

            &:active {
                color: $details-color;
                border-bottom: 1px solid $details-color;
            }
        }

        li .active {
            color: $details-color;
            border-bottom: 1px solid $details-color;
        }
    }
}

@media screen and (max-width: 815px) {
    .nav {
        position: relative;

        .nav_toggler {
            display: block;
        }
        .nav-bar {
            display: none;
            position: absolute;
            top: 78px;
            right: 0;
            width: 100%;
            background: linear-gradient(rgba(76, 61, 114, 0.8), rgba(76, 61, 114, 0.8));

            li {
                display: block;
                margin: 20px 0;
                text-align: center;
            }

            &.show-nav-bar {
                display: block;
            }
        }
    }
}

/*
* HEADER
*/
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 670px;
    background: linear-gradient(rgba(76, 61, 114, 0.8), rgba(76, 61, 114, 0.8)), url(../img/homebg.jpg) no-repeat center / cover fixed;
}

.header_content {
    text-align: center;
    margin: 0 20px;
    
    p {
        max-width: 700px;
        margin-bottom: 40px;
    }

    .separator {
        height: 1px;
        width: 50px;
        margin: 20px auto;
        background: $details-color;
    }
}