body {
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px; }

h1,
h2,
h3 {
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: 900; }

/* BUTTONS */
.btn {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  transition: all 0.3s; }
  .btn:hover {
    background-color: #00e0d0;
    color: #fff; }

/*
* NAVIGATION
*/
#nav-fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%; }
  #nav-fixed .nav {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between; }
    #nav-fixed .nav .nav-bar {
      display: flex;
      justify-content: space-between;
      list-style-type: none; }
      #nav-fixed .nav .nav-bar a {
        padding: 10px;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        border-bottom: 1px solid transparent;
        transition: all 0.3s; }
        #nav-fixed .nav .nav-bar a:hover {
          color: #00e0d0; }
        #nav-fixed .nav .nav-bar a:active {
          color: #00e0d0;
          border-bottom: 1px solid #00e0d0; }
      #nav-fixed .nav .nav-bar li .active {
        color: #00e0d0;
        border-bottom: 1px solid #00e0d0; }

/*
* HEADER
*/
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 670px;
  background: linear-gradient(rgba(76, 61, 114, 0.7), rgba(76, 61, 114, 0.7)), url(../img/homebg.jpg) no-repeat center/cover fixed; }

.header_content {
  text-align: center;
  margin: 0 20px; }
  .header_content p {
    max-width: 700px;
    margin-bottom: 40px; }
  .header_content .separator {
    height: 1px;
    width: 50px;
    margin: 20px auto;
    background: #00e0d0; }
